/////////////////////////////////////
// entry detail
/////////////////////////////////////
.description
  //visibility: hidden
  opacity: 0
  transition-property: opacity
  //transition: all 0.1s linear 0.2s
  a
    //color: darken($secondary-color, 25)
    color: $body-font-color
    text-decoration: underline

.entry.detail

  @include fadeIn(0.75s)

  .diagram
    cursor: pointer

  .description
    margin-top: 40px
    text-align: justify

  .related
    ul
      list-style-type: none
      margin: 0
      text-align: left


@import site/apps/museum/archive
@import site/apps/museum/sets
@import site/apps/museum/source
@import site/apps/museum/timeline
@import site/apps/museum/virtuallab