/////////////////////////////////////
// entry detail
/////////////////////////////////////
.entry.detail

  .diagram
    cursor: pointer
    width: 600px

  .description
    visibility: hidden
    margin-top: 40px
    text-align: justify

  .related
    ul
      list-style-type: none
      margin: 0
      text-align: left


@import site/apps/museum/archive
@import site/apps/museum/sets
@import site/apps/museum/timeline
@import site/apps/museum/virtuallab