// map-get($foundation-palette, primary)
$timeline_color: #666

#timeline_header
  display: block
  position: fixed
  z-index: 100000
  left: calc(50% - 189px)

  background-color: white

  #date_slider
    margin-bottom: 1.25rem

// wrapper could be used together with section classes for different colors etc.
#timeline_wrapper
  .entry
    .connector
      background-color: $timeline_color
      transition: background-color 3000ms

      .circle
        background-color: $timeline_color
        transition: background-color 3000ms

#timeline
  width: 1px
  min-height: 1200px
  position: absolute
  top: 0
  background-color: $timeline_color
  transition: background-color 3000ms
  z-index: 1

  @media screen
    @include breakpoint(medium up)
      left: 50%
      margin-left: -1px

#timeline_content
  width: calc(100% - 30px)
  max-width: 1200px
  min-height: 1440px
  padding-top: 15px
  margin: 0 auto
  position: relative
  z-index: 1

  .entry
    width: calc(100% - 15px)
    margin-left: 15px
    margin-bottom: 15px
    position: relative

    @media screen
      @include breakpoint(medium up)
        width: calc(50% - 16px)
        margin-left: 0

    .eye
      position: absolute
      top: -8px
      left: 15px
      z-index: 1000
      cursor: pointer
      font-size: 60px
      color: #000
      opacity: 0.5
      //text-shadow: 0 0 5px $timeline_color,0 0 5px #fff,0 0 5px #fff,0 0 10px $timeline_color,0 0 30px $timeline_color,0 0 40px $timeline_color,0 0 50px $timeline_color,0 0 75px $timeline_color
      transition: all .2s ease-in-out
    .eye:hover
      transform: scale(1.1)

    .connector
      width: 16px
      height: 1px
      display: block
      position: absolute
      left: -16px
      top: 50%
      //background-color: transparent

      .circle
        content: ' '
        width: 6px
        height: 6px
        display: block
        position: absolute
        left: -3px
        top: 50%
        margin-top: -3px
        border-radius: 50%
    //background-color: transparent

    .title
      font-size: 20px
      font-weight: bold
      color: $timeline_color

    img
      //filter: grayscale(0.6)
      max-width: 100%
      height: auto
      display: inline-block
      position: relative
      z-index: 1
      border: 1px solid $timeline_color

    img:hover
      //filter: grayscale(0)

    .wrapper
      height: 100%
      z-index: 10
      position: relative
      display: inline-block

    .overlay
      opacity: 0.0
    .overlay.active
      transition: opacity 0.5s
      display: block
      background-color: #333
      opacity: 0.8
      z-index: 50
      position: absolute
      width: 100%
      height: 100%
      top: 0
    
    .description
      display: none

    .description.active
      display: block
      position: absolute
      
      top: 0px
      bottom: auto
      left: 70px
      width: 80%
      height: 95%
      z-index: 100

      overflow-y: auto
      overflow-x: hidden
    
      text-align: left
      color: #fff  

      margin: 5px
      padding: 10px

      a
        color: lighten($timeline_color, 20)

  // left columnt adjustments
  .entry.left-col
    text-align: right

    @media screen
      @include breakpoint(medium up)
        .connector
          left: auto
          right: -12px

          .circle
            left: auto
            right: -6px

    .expand
      right: 15px
      left: auto

    .description.active
      left: 65px




