@mixin keyframe-fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeIn
  @include keyframe-fadeIn

@mixin fadeIn( $arg )
  $keyframe-name: fadeIn
  $duration: $arg
  animation: $keyframe-name $duration

body
  background-color: $body-background

li
  list-style: none
  margin-left: 0

.button.active
  background-color: darken($button-background, 10)

///////////////////////////////// NAVIGATION
#navigation
  position: fixed
  top: 0
  height: 80px
  z-index: 1000
  width: 100%

  nav
    background-color: darken($body-background, 3%)
    font-size: 0.83rem
    //font-size: 0.9rem
    font-weight: bold
    padding: 0.75rem 0.0rem 0.0rem 0.0rem

    .search
      @include breakpoint(medium down)
        //display: none

    .menu > li > a
      color: #666

    .menu .active > a
      background: $body-background


////////////////////////////////////////// CONTENT
#content
  margin-top: 160px
  margin-bottom: 50px

///////////////////////////////////////// IMPORT APPS
@import site/apps/museum/base
@import site/apps/editor/base